<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>

  <ion-card *ngIf="!this.isWeather">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h2 class="no-gps">Sem dados Meteorológicos</h2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="this.isWeather">
    <ion-card-header>
      {{mainProvider.meteorologia.location}}
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <!-- <ion-col col-6>
            <img class="weather-icon yellow" src="assets/weather_icons/016-sun.svg" alt="" srcset="">
          </ion-col> -->
          <ion-col col-12 class="flex-container-center">
            <h2 class="temperatura">{{mainProvider.meteorologia.temp_avg | number:'1.1-1'}} °C</h2>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4 class="param-met flex-container-center">
            <img src="assets/weather_icons/014-drop.svg" alt="" srcset="">
            <h4>{{mainProvider.meteorologia.humidity}}%</h4>
          </ion-col>
          <ion-col col-4 class="param-met flex-container-center">
            <img src="assets/weather_icons/013-wind.svg" alt="" srcset="">
            <h4>{{mainProvider.meteorologia.wind}} m/s</h4>
          </ion-col>
          <ion-col col-4 class="param-met flex-container-center">
            <img src="assets/weather_icons/007-rain.svg" alt="" srcset="">
            <h4>{{mainProvider.meteorologia.precipitation}}%</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      ETC (mm/Dia)
    </ion-card-header>
    <ion-card-content class="etc">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="flex-container-center">
            <h2 class="temperatura" *ngIf="this.mainProvider.isLocal">{{mainProvider.evapotranspiracao.evapotranspiracaoCulturaDia
              | number:'1.3-3'}}mm</h2>
            <h5 class="no-perfil" *ngIf="!this.mainProvider.isLocal">Não existe perfil cadastrado</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      ETC (mm/Mês)
    </ion-card-header>
    <ion-card-content class="etc">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="flex-container-center">
            <h2 class="temperatura" *ngIf="this.mainProvider.isLocal">{{mainProvider.evapotranspiracao.evapotranspiracaoCulturaMes
              | number:'1.3-3'}}mm</h2>
            <h5 class="no-perfil" *ngIf="!this.mainProvider.isLocal">Não existe perfil cadastrado</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Irrigação
    </ion-card-header>
    <ion-card-content class="status-irrigation-card">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <img src="assets/imgs/irrigation.svg" alt="" srcset="" class="irrigation-icon">
          </ion-col>
          <ion-col col-6 class="status-irrigation">
            <div>
              <h1>Desligado</h1>
              <h2>Útilizado: há 12 horas</h2>
              <h2>Nível de Água: Bom</h2>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <div col-12 class="btn-irrigation">
        <button ion-button icon-start outline color='danger'>
          <ion-icon name="power"></ion-icon>
          Ligar
        </button>
        <button ion-button icon-start outline>
          <ion-icon name="settings"></ion-icon>
          Configurações
        </button>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>